{% extends "helium::form-fields.input" %}

{# Remove the other label and description #}
{% block label %}{% endblock %}
{% block description %}{% endblock %}
{% block input %}
    <div class="{{ field.description is not empty ? 'pt-1' }}">
        {# Show the description inside the container instead #}
        {% include "helium::form-fields.common.description" %}
        <div class="flex">
            <input type="hidden" name="{{ field_name }}" id="{{ field_id }}_empty" value="0">
            <input class="cursor-pointer"
                type="checkbox"
                name="{{ field_name }}"
                id="{{ field_id }}"
                {{ input_old(field_name, field.value|resolve(entry)) ? 'checked' }}
                {% for attribute in field.attributes %}
                    {{ attribute.name }}{{ (attribute.value is defined ? '="' ~ attribute.value|escape ~ '"')|raw }}
                {% endfor %}
            >
            <label class="flex-1 pl-4 font-bold cursor-pointer {{ field.labelClasses }}" for="{{ field_id }}">
                {{ field.label }}
                {% if field.required %}
                    <span class="text-red-700">*</span>
                {% endif %}
            </label>
        </div>
    </div>
{% endblock %}
