{% extends "helium::form-fields.input" %}

{% block input %}
    <div class="flex flex-wrap w-full px-1 pt-2 -mb-1">
        {% for value,name in field.options|options(entry, field) %}
            <div class="flex items-start w-full mb-3 md:w-1/2 lg:w-1/3 xl:w-1/4">
                <input type="checkbox"
                    class="p-2 mt-1 cursor-pointer {{ field.classes }}"
                    name="{{ field_name }}[]"
                    id="{{ field_id }}_{{ loop.index }}"
                    value="{{ value }}"
                    {{ (value in (input_old(field_data_key, field.value|values(entry, entry.keyName)) ?: [])) ? 'checked' }}
                >
                <label class="flex-1 ml-3 mr-5 cursor-pointer" for="{{ field_id }}_{{ loop.index  }}">{{ name }}</label>
            </div>
        {% endfor %}
    </div>
{% endblock %}
