{% extends "helium::layouts/default" %}

{% block content %}
    <form id="helium-form" method="POST">
        {{ csrf_field() }}

        <h1 class="mb-4 h1">{{ form.title }}</h1>

        {% if session_has('message') %}
            {% set message = session_get('message') %}
            {% include "helium::partials/alert" with message %}
        {% endif %}

        <div class="flex flex-1 px-8 py-6 bg-gray-100 rounded-xl">
            {% set tabs = form.fields|keys %}

            {% if tabs|length > 1 %}
                <div class="flex flex-col pt-6 mr-8 -my-6 -ml-8 border-r-2 border-gray-200 bg-gray-50 rounded-l-xl">
                    {% for tab in form.tabs %}
                        {% set error = errors.hasAny(form.fields[tab.slug]|keys) %}
                        <a class="helium-tab {{ error ? 'error' }}" id="helium-tab-{{ tab.slug }}" data-tab-content-id="helium-tab-content-{{ tab.slug  }}" href="#{{ tab.slug }}">
                            <div class="hidden error-icon">
                                <i class="mr-2 fas fa-exclamation-circle"></i>
                                <span class="sr-only">Error</span>
                            </div>
                            {{ tab.label }}
                        </a>
                    {% endfor %}
                </div>
            {% endif %}

            <div class="flex-1">
                {% for tabSlug,fields in form.fields %}
                    <div id="helium-tab-content-{{ tabSlug }}" class="helium-tab-content">
                    <div class="mb-8">
                        {% for field in fields %}
                            {% include field.view with {field: field, entry: entry} %}
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}

                <div class="">
                    {% for action in form.actions %}
                        {% include action.view with {action: action, entry: entry} %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </form>
{% endblock %}
