{% extends "helium::layouts/default" %}

{% block content %}
    <form method="POST">
        {{ csrf_field() }}

        <h1 class="mb-4 h1">{{ config.form.title }}</h1>

        {% if config.form.tabs|length > 0 %}
            <div class="flex block">
                <a href="#"
                    id="helium-tab-main"
                    class="helium-tab active"
                    data-tab-content-id="helium-tab-content-main"
                >
                    Content
                </a>
                {% for tab in config.form.tabs %}
                    <a href="#"
                        class="helium-tab"
                        data-tab-content-id="helium-tab-{{ tab.slug }}"
                    >
                        {{ tab.label }}
                    </a>
                {% endfor %}
            </div>
        {% endif %}
        <div class="flex-1 px-8 py-6 bg-gray-100 rounded-tl-none rounded-xl">
            <div id="helium-tab-content-main" class="flex-1 helium-tab-content">
                <div class="mb-8">
                    <input type="hidden" name="id" value="{{ entry.id }}">
                    {% for field in config.form.fields %}
                        {% include field.view with {field: field, entry: entry} %}
                    {% endfor %}
                </div>
            </div>

            <div class="">
                {% for action in config.form.actions %}
                    {% include action.view with {action: action, entry: entry} %}
                {% endfor %}
            </div>
        </div>
    </form>
{% endblock %}
