{% extends 'helium::layouts/default' %}

{% block content %}
    <div class="">
        <form method="GET">
            <h1 class="h1">{{ config.table.title }}</h1>
            <div class="flex flex-wrap items-center items-end justify-start p-4 my-4 -mx-1 bg-gray-100 border-gray-400">
                {% if config.table.search %}
                    {% include config.table.search.view with {field: config.table.search} %}
                {% endif %}
                {% if config.table.filters|length %}
                    {% for filter_input in config.table.filters %}
                        <div class="flex-1 min-w-[25%] w-full px-1 mb-2">
                            {% include filter_input.view with {field: filter_input} %}
                        </div>
                    {% endfor %}
                    <div class="flex flex-1 px-1 mb-2 justify-end self-end {{ config.table.filters is empty ? 'hidden' }}">
                        <button type="submit" class="block px-4 py-2 text-white bg-blue-900 rounded">Filter</button>
                        <a href="{{ url().current }}" type="reset" class="block px-4 py-2 ml-2 text-white bg-gray-800 rounded">Reset</a>
                    </div>
                {% endif %}
            </div>
        </form>
    </div>

    <div class="w-full pb-4 rounded-t-lg bg-gray-50">
        <table class="w-full">
            <thead class="text-left border-b border-gray-300">
                {% for column in config.table.columns %}
                    <th class="px-4 py-3">{{ column.label }}</th>
                {% endfor %}
                <th class="px-4 py-3">Actions</th>
            </thead>
            <tbody>
                {% for entry in entries %}
                    <tr class="text-left border-b border-gray-300">
                        {% for column in config.table.columns %}
                            <td class="px-4 py-3">{% include column.view with {entry: entry, value: column.value} %}</td>
                        {% endfor %}
                        <td class="px-4 py-3">
                            {% for action in config.table.actions %}
                                {% for action in config.table.actions %}
                                    {% include action.view with {action: action, entry: entry} %}
                                {% endfor %}
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="mt-4">
        {{ entries.withQueryString.links('pagination::tailwind')|raw }}
    </div>
{% endblock %}
